body {
  height: 100vh;
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(1rem + 4vw);
  font-weight: bold;
  letter-spacing: 3px;
}

main {
  height: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./img/donald-trump.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form,
section {
  margin: auto;
  text-align: center;
}

p {
  font-size: calc(1rem + 3vw);
  font-family: "Comic Sans MS";
  padding: 10px 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
}

#quote-display {
  overflow: scroll;
}

h1,
button {
  color: white;
  padding: 5px 10px;
  border: 7px solid red;
  background-color: blue;
  text-transform: uppercase;
}

label {
  width: 1px;
  height: 1px;
  color: transparent;
}

h1 {
  margin-top: 10vh;
  text-align: center;
}

form {
  position: fixed;
  bottom: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(1rem + 1vw);
  margin-right: 20px;
  padding: 10px;
  border: 7px transparent;
  width: 70vw;
}

button {
  font-size: calc(1rem + 1vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
